
    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            @Html.ActionLink("MVC", "Index", new { controller = "Employees" }, new { @class = "nav-link" })
            @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
        </li>

        <li class="nav-item">
            @Html.ActionLink("jQuery", "Index", new { controller = "EmployeesjQuery" }, new { @class = "nav-link" })
        </li>

        <li class="nav-item">
            @Html.ActionLink("KnockOut", "Index", new { controller = "EmployeesKnockOut" }, new { @class = "nav-link" })
        </li>

        <li class="nav-item">
            @Html.ActionLink("Kendo Ui", "Index", new { controller = "EmployeesKendoUi" }, new { @class = "nav-link" })
        </li>

        <li class="nav-item">
            @Html.ActionLink("Slickgrid", "Index", new { controller = "EmployeesSlickGrids" }, new { @class = "nav-link" })
        </li>

        <li class="nav-item">
            @Html.ActionLink("Active Report", "Index", new { controller = "EmployeesActiveReport" }, new { @class = "nav-link" })
        </li>
        @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>*@
        @*<li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>*@
    </ul>



